<template>
  <header class="page-header">
    <h1>{{ students.name }}</h1>
  </header>

  <div class="table-container">
    <table class="table-students">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="student in students">
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <footer class="footer-buttons">
    <span @click="back" class="footer-buttons-uncolored">BACK</span>
  </footer>
</template>

<script>
import User from "../class/User";
import Class from "../class/Class";

export default {
  name: 'Class',
  data() {
    return {
      students: []
    }
  },
  mounted() {
    let classId = parseInt(this.$route.params.id)
    this.students = User.where('classId', classId);

    if (Class.getById(classId) === null) {
      this.$router.push({name: 'pagenotfound'})
    } else {
      this.students.name = Class.getById(classId).name
    }
  },
  methods: {
    back: function () {
      this.$router.back()
    },
  }
}
</script>

<style scoped>

.table-container {
  overflow-y: auto;
  height: 60vh;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;

}

.table-container th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #FFD9CF;
}

.table-students {
  width: 100%;
  padding: 5px 10px 0 10px;
  border-collapse: collapse;
}

.table-students td {
  padding: 5px;
}

.table-students tbody tr:nth-child(even) {
  background-color: #FFD9CF;
}

th {
  font-weight: bold;
  padding: 5px 5px 10px 5px;
  background: none;
}


</style>