<script setup>
import CriteriaList from "./List.vue";
</script>

<template>
  <header class="page-header">
    <h1 class="header-title">Add criteria list</h1>
  </header>

  <CriteriaList :list="criterion" :edit="true" :trash="true" v-on:delete="deleteCriteria">
    <template v-slot:elview="{ el }">{{ el.name }}</template>

    <template v-slot:eledit="{ el }">
      <form action="">
        <input v-model="el.name" placeholder="Criteria name">
      </form>
    </template>
  </CriteriaList>

  <form class="form">
    <div class="criterion-input">
      <input v-model="criteria.name" placeholder="Criteria name">
      <div class="footer-buttons" @click="addCriteria">
        <span class="footer-buttons-uncolored">Add</span>
      </div>
    </div>
    <span v-if="criteria.error" class="error">{{ criteria.error }}</span>

    <input v-model="criteriaList.name" placeholder="Criteria list name" class="criteria-list-name">
    <span v-if="criteriaList.error" class="error">{{ criteriaList.error }}</span>
    <span v-else class="success">{{ criteriaList.suc }}</span>
  </form>

  <footer class="footer-buttons save">
    <span @click="back" class="footer-buttons-uncolored">BACK</span>
    <span @click="saveTest" class="footer-buttons-colored">SAVE THE LIST</span>
  </footer>
</template>

<script>
import Criteria from "../class/Criteria";
import Test from "../class/Test";
import Mark from "../class/Mark";

export default {
  name: 'Exam',
  data() {
    return {
      criteriaList: {
        name: '',
        error: '',
        suc: '',
      },
      criteria: {
        name: '',
        error: ''
      },
      criterion: [],
    }
  },
  mounted() {
    if (this.$route.params.id !== undefined) {
      this.criterion = Criteria.where('testId', parseInt(this.$route.params.id));
      this.criteriaList = Test.getById(parseInt(this.$route.params.id));
    }
  },
  methods: {
    back: function () {
      this.$router.back()
    },
    addCriteria: function () {
      this.criteria.error = '';
      if (this.criteria.name === '') {
        this.criteria.error = 'Criteria name should not be empty'
      }

      if (this.criteria.error === '') {
        this.criterion.push(new Criteria(this.criteria))
        this.criteria.name = ''
      }
    },
    deleteCriteria: function (id) {
      this.criterion = this.criterion.filter(criteria => criteria.id !== id);
    },
    saveTest: function () {
      this.criteriaList.error = '';
      this.criteriaList.suc = ''
      if (this.criteriaList.name === '') {
        this.criteriaList.error = 'Criteria list name should not be empty'
      }

      if (this.criteriaList.error === '') {
        if (this.criteriaList.id !== undefined) {
          this.criteriaList = new Test({name: this.criteriaList.name, id: this.criteriaList.id})
          this.criteriaList.update()
        } else {
          this.criteriaList = new Test({name: this.criteriaList.name})
          this.criteriaList.insert()
        }
        Criteria.where('testId', this.criteriaList.id)
            .forEach((criterionInDB) => {
              let criteriaNotDelete = this.criterion.filter(criteria => criteria.id === criterionInDB.id);
              if (criteriaNotDelete.length === 0) {
                Mark.deleteById('criterionId', criterionInDB.id)
                Criteria.delete(criterionInDB.id);
              } else {
                let criterion = new Criteria({
                  testId: criteriaNotDelete[0].testId,
                  name: criteriaNotDelete[0].name,
                  id: criteriaNotDelete[0].id
                })
                criterion.update();
              }
            })

        this.criterion = this.criterion.map((criteria) => {
          if (criteria.id === null) {
            criteria.testId = this.criteriaList.id;
            let criterion = new Criteria({testId: criteria.testId, name: criteria.name})
            return criterion.insert();
          } else {
            return criteria;
          }
        });
        this.criteriaList.suc = 'Saved !'
      }
    }
  }
}
</script>

<style scoped>
ul {
  padding: 0;
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.form input {
  border: 2px solid #F9968B;
  border-radius: 25px;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
}

.form .footer-buttons {
  margin-top: 20px;
}

.criterion-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 0 0;
}

.criterion-input .footer-buttons {
  margin: 0;
}

.criteria-list-name {
  margin-top: 20px;
  width: 100%;
}

.save {
  margin-top: 20px;
}

.error {
  margin-left: 10px;
  margin-top: 2px;
}

.success {
  color: #218b82;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 2px;
}

/* Smartphone (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .empty {
    width: 50%;
  }

  .criterion-input {
    gap: 10px;
  }

  .criterion-input input {
    width: 100%;
  }

  .form {
    margin-left: 10px;
    margin-right: 10px;
  }
}
</style>

