<template>
  <figure>
    <slot name="empty-image"></slot>
  </figure>
</template>

<style scoped>
figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>

<script>
export default {
  name: 'Empty',
}
</script>