<script setup>
import EvaluationList from "./List.vue";
</script>

<template>
  <EvaluationList :list="exams" :trash="true" :edit="true" :download="true" v-on:delete="deleteExam"
                  v-on:modify="editExam">
    <template v-slot:header-title>
      <h1>Exams</h1>
    </template>

    <template v-slot:elview="{ el }">
      <router-link :to="`/marks/${el.id}`" class="no-underline">
        {{ el.name }}
        <span v-if="!el.done" class="exam-state">(Not finished)</span>
        <span v-else class="exam-title__checked">&#10003;</span>
      </router-link>
    </template>

    <template v-slot:eledit="{ el }">
      <form action="">
        <input v-model="el.name" placeholder="Exam name">
      </form>
    </template>

    <template v-slot:bottom>
      <img @click="addRouter" class="float-button-icon" src="../assets/plus.svg" alt="Add evaluation">
    </template>
  </EvaluationList>

  <div v-if="exams.length === 0" class="empty-container">
    <img class="empty" src="../assets/empty.jpg" alt="Empty">
  </div>

  <div class="start-exam-container">
    <img v-if="exams.length !== 0" src="../assets/graduation.jpg" alt="Graduation" class="empty start-exam">
  </div>
</template>

<script>
import Evaluation from "../class/Evaluation";
import Mark from "../class/Mark";

export default {
  name: 'Evaluation',
  data() {
    return {
      exams: []
    }
  },
  mounted() {
    this.exams = Evaluation.getAll()
  },
  methods: {
    addRouter: function () {
      this.$router.push('add')
    },
    deleteExam: function (id) {
      this.exams = Evaluation.delete(id)
      Mark.deleteById('evaluationId', id)
    },
    editExam: function (el) {
      let savedExam = Evaluation.getById(el.id)
      if (el.name === '') {
        el.name = savedExam.name
      } else {
        savedExam.name = el.name
        savedExam.update()
      }
    }
  }
}
</script>

<style scoped>
h1 {
  align-self: center;
}

.exam-state {
  color: #D9D9D9;
}

.exam-title__checked {
  color: #218B82;
  font-weight: bold;
}

section {
  padding-left: 10px;
  padding-right: 10px;
}

.empty {
  margin: 10px auto;
}

.start-exam {
  width: 70%;
  margin: 0;
}

.start-exam-container {
  display: flex;
  justify-content: center;
}

/* Smartphone (landscape) ----------- */
@media only screen and (min-width : 321px) {
  .start-exam {
    width: 50%;
  }
}
</style>