<script setup>
import ClassesList from "./List.vue";
import TestList from "./List.vue";
</script>

<template>
  <div v-if="helpShow" class="empty-container">
    <img class="empty" v-bind:class="helpShow ? 'float-over' : ''" src="../assets/empty_2.jpg" alt="Empty">
  </div>

  <section v-show="!swap">
    <ClassesList :list="classes" :view="true" :trash="true" :selectable="true" v-on:delete="deleteClass"
                 v-on:chosen="addToSelection">
      <template v-slot:header-title>
        <h1>Add an exam</h1>
      </template>

      <template v-slot:elview="{ el }" class="no-underline">{{ el.name }}</template>

      <template v-slot:params-view="{ el }">
        <img @click="showClass(el.id)" class="icon" src="../assets/eye.svg"
             alt="View">
      </template>

      <template v-slot:bottom>
      <span @click="importStudents">
        <img class="float-button-icon" src="../assets/upload.svg" alt="Upload" title="Upload new class list">
      </span>
      </template>
    </ClassesList>
  </section>

  <section v-show="swap">
    <TestList :list="tests" :view="true" :trash="true" :selectable="true" v-on:delete="deleteTest"
              v-on:chosen="addToSelectionTest">
      <template v-slot:header-title>
        <h1>Criteria list</h1>
      </template>

      <template v-slot:elview="{ el }" class="no-underline">{{ el.name }}</template>

      <template v-slot:params-view="{ el }">
        <img @click="showTest(el.id)" class="icon" src="../assets/eye.svg"
             alt="View">
      </template>

      <template v-slot:bottom>
        <img @click="pushRouter" class="float-button-icon" src="../assets/plus.svg" alt="Add evaluation">
      </template>
    </TestList>
  </section>

  <div v-show="!helpShow" class="switch-container" v-on:click="changeSwitch">
    <img v-if="!swap" src="../assets/toggle-off.svg" alt="Switch to criteria" class="icon">
    <img v-else src="../assets/toggle-on.svg" alt="Switch to classes" class="icon">
    <p>Switch between criteria and classes list</p>
  </div>

  <div v-show="!helpShow" class="exam-form">
    <input v-model="evaluation.name" placeholder="Exam name" class="exam-name">
    <div v-if="errors.length">
      <ul>
        <li v-for="error in errors" class="error">{{ error }}</li>
      </ul>
    </div>
  </div>

  <footer v-show="!helpShow" class="footer-buttons">
    <span @click="back" class="footer-buttons-uncolored">BACK</span>
    <span @click="saveAndStart" class="footer-buttons-colored">SAVE AND START EXAM</span>
  </footer>

  <input v-show="!helpShow && !swap" type="file" id="file-input" name="file-input" accept=".csv" hidden>

  <div v-show="!swap" class="float-button-tiny" @click="helpShow = !helpShow">
    <img class="float-button-icon help" src="../assets/question.svg" alt="Help">
  </div>
</template>

<script>
import Class from "../class/Class";
import Evaluation from "../class/Evaluation";
import User from "../class/User";
import Test from "../class/Test";
import Criteria from "../class/Criteria";
import Mark from "../class/Mark";

export default {
  name: 'ExamConfig',
  data() {
    return {
      classes: [],
      tests: [],
      errors: [],
      evaluation: {
        classId: '',
        testId: '',
        name: '',
      },
      helpShow: false,
      swap: false
    }
  },
  mounted() {
    this.classes = Class.getAll()
    this.tests = Test.getAll()
  },
  methods: {
    pushRouter: function () {
      this.$router.push('criterion')
    },
    back: function () {
      this.$router.back()
    },
    showClass: function (classId) {
      this.$router.push({name: 'classes', params: {id: classId}});
    },
    showTest: function (testId) {
      this.$router.push({name: 'criterion', params: {id: testId}});
    },
    changeSwitch() {
      this.swap = !this.swap
    },
    deleteClass: function (id) {
      this.classes = Class.delete(id)
      User.deleteAllWhere('classId', id)
    },
    deleteTest: function (id) {
      this.tests = Test.delete(id)
      let criteria = Criteria.where('testId', id)
      criteria.forEach((criterion) => {
        Mark.deleteById('criterionId', criterion.id)
        Criteria.delete(criterion.id)
      })
    },
    addToSelection: function (id) {
      this.evaluation.classId = id
    },
    addToSelectionTest: function (id) {
      this.evaluation.testId = id;
    },
    saveAndStart: function () {
      this.errors = []

      if (this.evaluation.classId === '') {
        this.errors.push('Please choose a class')
      }

      if (this.evaluation.testId === '') {
        this.errors.push('Please choose a criteria list')
      }

      if (this.evaluation.name === '') {
        this.errors.push('Exam name should not be empty')
      }

      if (!this.errors.length) {
        let evaluation = new Evaluation(this.evaluation)
        evaluation.insert()
        this.$router.push({name: 'marks', params: {id: evaluation.id}})
      }
    },
    importStudents: function () {
      let fileInput = document.getElementById('file-input')
      fileInput.click()
      fileInput.addEventListener('change', this.readImportFile, false)
    },
    readImportFile: function (e) {
      let vm = this
      let file = e.target.files[0];
      if (!file) {
        return;
      }
      let reader = new FileReader();
      reader.onload = function (e) {
        let contents = e.target.result;
        let contentsArray = contents.toString()
            .replaceAll('\r\n', ';')
            .split(';')

        contentsArray = contentsArray.filter((el) => {
          return el !== ''
        })
        contentsArray.splice(0, 2)

        if (contentsArray.length % 2 === 0) {
          let newClass = new Class({name: file.name.substring(0, file.name.lastIndexOf('.'))})
          newClass = newClass.insert()

          let newStudent = {}
          contentsArray.forEach((student, i) => {
            if (i % 2 !== 0) {
              newStudent.lastname = student
              newStudent.classId = newClass.id
              let addStudent = new User({
                lastname: newStudent.lastname,
                firstname: newStudent.firstname,
                classId: newStudent.classId
              })
              addStudent = addStudent.insert()
            } else {
              newStudent.firstname = student
            }
          })

          vm.$data.classes.push(newClass)
        }
      };
      reader.readAsText(file);
    }
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  line-height: normal;
}

input {
  border: 2px solid #F9968B;
  border-radius: 25px;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
}

.exam-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.empty-container {
  height: 80%;
}

.empty {
  margin-top: 10px;
}

.float-over {
  z-index: 2;
  position: absolute;
  top: 10em;
}

.help {
  width: 10px;
}

.switch-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.switch-container .icon {
  width: 35px;
}

.switch-container p {
  font-size: 12px;
}

.footer-buttons {
  margin-top: 20px;
}

.empty {
  margin: 10px auto;
}

/* Smartphone (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .empty {
    width: 50%;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .float-over {
    top: 35em
  }
}
</style>
