<script setup>
</script>

<template>
  <header class="page-header">
    <slot name="header-title"></slot>
  </header>

  <ul v-if="list.length !== 0" class="list">
    <li v-for="el in list" :key="el.id" v-bind:style="{ opacity: el.opacity }">
      <div class="row">
        <div class="title" v-on:click="choose(el.id)">
          <slot v-if="!el.edited" name="elview" v-bind:el="el"></slot>
          <slot v-if="edit && el.edited" name="eledit" v-bind:el="el"></slot>
        </div>

        <div class="params">
          <slot name="params-view" v-bind:el="el"></slot>
          <img v-if="edit && !el.edited" v-on:click="switchEdited(el)" class="icon" src="../assets/edit.svg"
               alt="Edit" title="Edit">
          <img v-if="edit && el.edited" v-on:click="modify(el)" class="icon" src="../assets/check.svg"
               alt="Check" title="Validate">
          <img v-show="download" v-on:click="exportMark(el.id)" class="icon" src="../assets/download.svg" alt="Download"
               title="Download">
          <img v-show="trash" v-on:click="del(el.id)" class="icon" src="../assets/trash.svg" alt="Delete" title="Delete">
        </div>
      </div>
      <span class="separate-line"></span>
    </li>
  </ul>

  <div class="float-button">
    <slot name="bottom"></slot>
  </div>
</template>

<script>
import Criteria from "../class/Criteria";
import Evaluation from "../class/Evaluation";
import User from "../class/User";
import Mark from "../class/Mark";

export default {
  name: 'List',
  emits: ['delete', 'chosen', 'modify'],
  props: {
    list: {
      type: Array,
      default: []
    },
    view: {
      type: Boolean,
      default: false
    },
    edit: {
      type: Boolean,
      default: false
    },
    trash: {
      type: Boolean,
      default: false
    },
    download: {
      type: Boolean,
      default: false
    },
    selectable: {
      type: Boolean,
      default: false
    },
  },
  methods: {
    switchEdited: function (el) {
      el.edited = !el.edited
    },
    choose: function (selectedId) {
      if (this.selectable && selectedId !== '') {
        this.list.forEach(function (el) {
          el.opacity = el.id === selectedId ? 0.5 : 1;
        })
      }
      this.$emit('chosen', selectedId)
    },
    del: function (selectedId) {
      if (window.confirm('Are you sure to delete it ?') === true) {
        this.$emit('delete', selectedId)
      }
    },
    modify: function (el) {
      el.edited = !el.edited
      this.$emit('modify', el)
    },
    exportMark: function (evalId) {
      let csvContent = 'sep=,' + '\r\n';
      let evaluation = Evaluation.getById(evalId);
      let criteria = Criteria.where('testId', evaluation.testId);
      let classGrade = User.where('classId', evaluation.classId)

      csvContent += 'Student/Criteria'
      criteria.forEach(function (criterion) {
        csvContent += ',' + criterion.name;
      });

      csvContent += '\r\n';

      let marks = []
      classGrade.forEach(function (student) {
        csvContent += student.firstname + ' ' + student.lastname + ',';
        criteria.forEach(function (criterion) {
          let mark = Mark.getById(student.id, criterion.id, evalId);
          if (mark !== null) {
            marks.push(mark)
          }
          csvContent += (mark === null ? 'N/A' : mark.mark) + ','
        })
        csvContent += '\n';
      })

      marks.sort(function (a, b) {
        return a.criterionId - b.criterionId;
      });

      let items = this.calculateGeneralMarks(marks)

      csvContent += '\nMin,'+items.min.join(',')
      csvContent += '\nAvg,'+items.avg.join(',')
      csvContent += '\nMax,'+items.max.join(',')

      this.downloadFile(evaluation.name + '.csv', csvContent);
    },
    downloadFile: function (filename, text) {
      let element = document.createElement('a');
      element.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    },
    calculateGeneralMarks: function (marks) {
      let items = {min: [], avg: [], max: []}
      let total = null
      let critId = 0
      let divider = 0
      marks.forEach((mark) => {
        if (total === null) {
          total = {min: mark.mark, avg: parseInt(mark.mark), max: mark.mark}
          critId = mark.criterionId
          divider += 1
        } else {
          if (critId !== mark.criterionId) {
            total.avg = total.avg !== 0 ? Math.round(total.avg / divider) : 0
            items.min.push(total.min)
            items.avg.push(total.avg)
            items.max.push(total.max)
            total = {min: mark.mark, avg: parseInt(mark.mark), max: mark.mark}
            critId = mark.criterionId
            divider = 1
          } else {
            total.min = parseInt(mark.mark < total.min ? mark.mark : total.min)
            total.max = parseInt(mark.mark > total.max ? mark.mark : total.max)
            total.avg += parseInt(mark.mark)
            divider += 1
          }
        }
      })

      items.min.push(total === null ? 'N/A' : total.min)
      items.avg.push((total === null || divider === 0) ? 'N/A' : Math.round(total.avg / divider))
      items.max.push(total === null ? 'N/A' : total.max)

      return items
    }
  }
}
</script>

<style scoped>
ul {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 5px;
  overflow-y: auto;
  height: 45vh;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

ul li:last-child span {
  display: none;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

ul li:hover {
  cursor: pointer;
}

.separate-line {
  display: inline-block;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px solid #D9D9D9F9;
}

.params {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title {
  display: flex;
  gap: 10px;
  width: 90%;
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  ul {
    height: 60vh;
  }
}
</style>