<script setup>
import Criterion from "./Criterion.vue";
</script>

<template>
  <div class="container">
    <header class="page-header">
      <h1 v-if="exam.edited" class="evaluation_name">{{ evaluation === undefined ? '' : evaluation.name }}</h1>
    </header>

    <div class="container-main">
      <ul class="carousel">
        <li v-for="student in users" class="student_selection" v-on:click="changeStudentSelected(student)"
            :class="(studentSelected.id === student.id ? 'student_selected' : 'student_unselected')
            + ' ' + (marks[student.id].rated ? 'student_rated' : 'student_unrated')">
          {{ student.firstname.charAt(0) }}{{ student.lastname.charAt(0) }}
        </li>
      </ul>

      <h2>{{ studentSelected.firstname }} {{ studentSelected.lastname }}</h2>

      <ul v-if="criterion.length !== 0">
        <li class="criterion-header">
          <p class="criterion-name">Criterion</p>
          <div class="requirement-input-labels">
            <ul class="input-labels_header">
              <li>Min</li>
              <li>Avg</li>
              <li>Max</li>
            </ul>
          </div>
        </li>
      </ul>

      <section>
        <ul v-if="criterion.length !== 0" class="requirement_list">
          <template v-for="criteria in criterion">
            <li class="requirement_item">
              <label class="requirement_label" :for="'requirement_' + criteria.id">{{ criteria.name }}</label>
              <div class="requirement_input">
                <div class="requirement_range">
                  <input type="range" :id="'requirement_' + criteria.id" min="0" max="100" step="1"
                         v-model="marks[studentSelected.id][criteria.id].newMark">
                  <span>{{ marks[studentSelected.id][criteria.id].newMark }}%</span>
                </div>
                <ul class="info_mark">
                  <li>{{ minMark(criteria.id) }}</li>
                  <li>{{ avgMark(criteria.id) }} (&sigma; : {{ ecartType(criteria.id, avgMark(criteria.id)) }})</li>
                  <li>{{ maxMark(criteria.id) }}</li>
                </ul>
              </div>
            </li>
          </template>
        </ul>

        <div v-if="criterion.length === 0" class="empty-container">
          <img class="empty" src="../assets/empty_3.jpg" alt="Add new criterion">
        </div>
      </section>

      <footer class="footer-buttons">
        <span @click="back" class="footer-buttons-uncolored">BACK</span>
        <span v-on:click="save" class="footer-buttons-colored">SAVE STUDENT</span>
      </footer>

      <div v-if="criterion.length === 0" class="float-button">
        <img v-on:click="toCriterion" src="../assets/gear.svg" alt="Params" class="float-button-icon">
      </div>
    </div>
  </div>
</template>

<script>
import Evaluation from "../class/Evaluation";
import User from "../class/User";
import Criteria from "../class/Criteria";
import Mark from "../class/Mark";
import Test from "../class/Test";

export default {
  name: "Marks",
  data() {
    return {
      evaluation: {},
      exam: {
        edited: true,
        error: ''
      },
      users: [],
      studentSelected: {},
      criterion: [],
      marks: [],
    }
  },
  mounted() {
    this.evaluation = Evaluation.getById(parseInt(this.$route.params.id));
    if (this.evaluation === null) {
      this.$router.push({name: 'pagenotfound'})
    } else {
      this.users = User.where('classId', this.evaluation.classId);
      this.studentSelected = this.users[0];
      this.criterion = Criteria.where('testId', this.evaluation.testId)

      this.users.forEach((user) => {
        this.marks[user.id] = {
          rated: this.criterion.length !== 0,
        }
        this.criterion.forEach((criterion) => {
          this.affectMarkToCriterion(user.id, criterion.id)
        })
      })
    }
  },
  methods: {
    back: function () {
      this.$router.back()
    },
    toCriterion: function () {
      this.$router.push({name: 'criterion'})
    },
    changeStudentSelected: function (student) {
      this.studentSelected = student;
    },
    affectMarkToCriterion: function (userId, criterionId) {
      let markObject = Mark.getById(userId, criterionId, this.evaluation.id);
      if (markObject === null) {
        this.marks[userId].rated = false;
        this.marks[userId][criterionId] = {
          oldMark: 50,
          newMark: 50
        }
      } else {
        this.marks[userId][criterionId] = {
          oldMark: markObject.mark,
          newMark: markObject.mark
        }
      }
    },
    minMark: function (criterionId) {
      let min = 110;
      this.marks.forEach(userMarks => {
        min = parseInt(userMarks[criterionId].oldMark) < min && userMarks.rated === true
            ? userMarks[criterionId].oldMark
            : min;
      });
      return min > 100 ? 'N/A' : min;
    },
    avgMark: function (criterionId) {
      let sumMark = 0;
      let countMark = 0;
      this.marks.forEach(userMarks => {
        if (userMarks.rated === true) {
          sumMark += parseInt(userMarks[criterionId].oldMark);
          countMark++;
        }
      });
      return countMark === 0 ? 'N/A' : Math.round(sumMark / countMark);
    },
    maxMark: function (criterionId) {
      let max = -10;
      this.marks.forEach(userMarks => {
        max = parseInt(userMarks[criterionId].oldMark) > max && userMarks.rated === true
            ? userMarks[criterionId].oldMark
            : max;
      });
      return max < 0 ? 'N/A' : max;
    },
    ecartType: function (criterionId, average) {
      let variance = 0;
      let numberMarks = 0;
      this.marks.forEach(userMarks => {
        if (userMarks.rated === true) {
          variance += Math.pow(parseInt(userMarks[criterionId].oldMark) - average, 2);
          numberMarks++;
        }
      })
      if (numberMarks === 0) {
        return 'N/A';
      }

      variance /= numberMarks;
      return Math.round(Math.pow(variance, .5));
    },
    save: function () {
      Object.entries(this.marks[this.studentSelected.id]).forEach(([criterionId, mark]) => {
        if (criterionId !== 'rated') {
          let markObject = new Mark({
            mark: mark.newMark,
            userId: this.studentSelected.id,
            criterionId: criterionId,
            evaluationId: this.evaluation.id,
          })
          this.marks[this.studentSelected.id].rated = true;
          mark.oldMark = mark.newMark;

          if (Mark.getById(this.studentSelected.id, criterionId, this.evaluation.id) === null) {
            markObject.insert();
          } else {
            markObject.update();
          }
        }
      })
      let done = this.marks.filter(function (element) {
        return element.rated === true;
      }).length
      if (done === this.users.length) {
        this.evaluation.done = true
        let evaluation = new Evaluation(this.evaluation)
        evaluation.update()
      }
    },
    addCriteria: function (criteria) {
      this.criterion.push(criteria)
      let lastEl = this.criterion[this.criterion.length - 1]
      this.users.forEach((user) => {
        this.affectMarkToCriterion(user.id, lastEl.id)
      })
    },
    deleteCriteria: function (id) {
      this.criterion = this.criterion.filter(criterion => criterion.id !== id)
      this.marks = this.marks.map(function (userMark) {
        delete userMark[id];
        return userMark;
      })
      Mark.deleteByCriteriaId(id)
    }
  },
}
</script>

<style scoped>
@import "../assets/slider.css";

h2 {
  text-align: center;
  margin: 0 0 10px 0;
}

.container-main {
  padding: 0 10px 0 10px;
}

.carousel {
  display: flex;
  gap: 1rem;
  padding: 0 0 15px 0;
  overflow-x: auto;
  margin: 25px 0 0 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.student_selection {
  border: 1px solid var(--student);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.student_selected {
  opacity: 1;
}

.student_rated {
  background: var(--student);
}

.requirement_list {
  padding: 0;
  overflow-y: auto;
  height: 43vh;
}

.requirement_item, .criterion-header {
  display: flex;
  gap: 1rem;
  padding: 10px 10px 25px 10px;
}

.criterion-header {
  align-items: center;
  padding-bottom: 10px;
  background: #FFD9CF;
}

.requirement_item:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid #D9D9D9;
}

.requirement_label, .criterion-name {
  width: 25%;
  word-break: break-word;
}

.requirement_input, .requirement-input-labels {
  width: calc(75% - 1rem);
}

.requirement_input .requirement_range {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 80%;
}

.input-labels_header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.requirement_range input {
  margin-bottom: 15px;
}

.requirement_range span {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info_mark {
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.empty {
  width: 85%;
}

.footer-buttons {
  margin-top: 20px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .requirement_list {
    height: 65vh;
  }
}
</style>