<template>
  <section class="empty-container">
    <img src="../assets/page_not_found.jpg" class="empty" alt="Page Not Found">
    <footer class="footer-buttons">
      <span @click="home" class="footer-buttons-colored">Home</span>
    </footer>
  </section>
</template>

<script>
export default {
  name: 'PageNotFound',
  methods: {
    home: function () {
      this.$router.push({name: 'home'})
    }
  }
}
</script>

<style scoped>
.empty-container {
  flex-direction: column;
  height: 100vh;
}

/* Smartphone (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .empty {
    width: 40%;
  }
}
</style>