:root {
    --yellow: #F7F6CF;
    --pink: #EB96AA;
    --sky-blue: #9AC8EB;
    --blue: #5784BA;
    --light-blue: #B8E0F6;
    --dark-see-green: #98D4BB;
    --student: #DEC4D6;
    --salmon: #F9968B;
}

input {
    outline: var(--salmon);
}

main {
    height: 100vh;
    font-size: 16px;
    overflow: auto;
    display: inline;
}

.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.empty {
    width: 100%;
}

.page-header {
    text-align: center;
    background: var(--salmon);
    padding: 5px;
    width: 100%;
    box-shadow: 0 3px 3px #e0e0e0;
}

.page-header:empty {
    background: none;
    box-shadow: none;
    padding: 0;
}

.float-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #F9968B;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 5;
}

.float-button-tiny {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 75px;
    right: 20px;
    background-color: #F9968B;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 5;
}

.float-button:empty {
    display: none;
}

.float-button-icon {
    filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(272deg) brightness(102%) contrast(104%);
    width: 25px;
}

.icon {
    width: 20px;
    filter: invert(34%) sepia(62%) saturate(344%) hue-rotate(156deg) brightness(93%) contrast(94%);
}

a {
    color: #000000;
}

.error {
    color: #ff4000;
    font-size: 14px;
}

.no-underline {
    text-decoration: none;
    width: 100%;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-buttons span {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.footer-buttons-colored {
    background-color: #2dbbb0;
    color: #ffffff;
    box-shadow: 4px 4px 4px #e0e0e0;
}

.footer-buttons-uncolored {
    border: 2px solid #2dbbb0;
    color: #2dbbb0;
}
