input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 #000000;
    background: #D9D9D9;
    border-radius: 25px;
    border: 0 solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 0 #000000;
    border: 0 solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #F9968B;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D9D9D9;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0 0 0 #000000;
    background: #D9D9D9;
    border-radius: 25px;
    border: 0 solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 #000000;
    border: 0 solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #F9968B;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #D9D9D9;
    border: 0 solid #000101;
    border-radius: 50px;
    box-shadow: 0 0 0 #000000;
}
input[type=range]::-ms-fill-upper {
    background: #D9D9D9;
    border: 0 solid #000101;
    border-radius: 50px;
    box-shadow: 0 0 0 #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0 0 0 #000000;
    border: 0 solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #F9968B;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #D9D9D9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #D9D9D9;
}
