<template>
  <main>
    <router-view></router-view>
  </main>
  <div class="display_error">
    <div class="error_block">
      <h2>Computer is not supported</h2>
    </div>
  </div>
</template>

<style>
@import './assets/base.css';
@import './assets/main.css';

.display_error {
  display: none;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px){
  main {
    display: none;
  }

  .display_error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: #181818;
  }

  .error_block  {
    background-color: #d9d9d9;
    padding: 1rem;
    border-radius: 10px;
  }
}
</style>

<script>
export default {
  name: "App",
}
</script>
